*{
  border-radius: 50%;
  position: absolute;
}

div{
 
}
#face{
  width: 200px;
  height: 200px;
  background-color: orange;
}
.eye-left {
  width: 20px;
  height: 30px;
  background-color: black;
  top: 50px;
  left: 50px;
}
 .eye-right {
  width: 20px;
  height: 30px;
  background-color: black;
  top: 50px;
  left: 125px;
}

.mouth-left{
  width:50px;
  height:50px;
  background-color: red;
  top: 100px;
  left: 20px;
}

.mouth-right{
  width:50px;
  height:50px;
  background-color: red;
  top: 100px;
  left: 125px;
}

.nose{
  width:60px;
  height:60px;
  background: blue;
  top: 95px;
  left:70px;
}